body{
     padding: 0;
     margin: auto;
}
.navbar {
     background-color: rgb(179, 120, 235);
     height: 100px;
     width: 100%;
}
.navbar h1{
     color: aliceblue;
     text-align: center;
     font-family: "UnifrakturMaguntia", cursive;
     font-weight: 1000;
     font-style: normal;
     margin: 0px;
}
.section{
     width: 400px;
     min-height: 300px;
     margin: auto;
     top: 100px;
     background-color:  rgb(211, 171, 248);
     text-align: center;
     border-radius: 30px;
}
.section h2{
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

}
.insert{
     display: flex;
     align-items: center;
     justify-content: space-between;
     margin: 20px;
     font-size: medium;
     border-radius: 4px;
     background-color: rgb(241, 241, 245);
}
.insert input{
     flex: 1;
     border: none;
     outline: none;
     
     font-size: medium;
     background: transparent;
}
.insert button{
     border: none;
     outline: none;
     padding: 16px;
     cursor: pointer;
     font-size: medium;
     border-radius: 4px;
}
.section ul li{
     font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
     list-style: none;
     font-size: 17px;
     padding: 10px 5px;
     user-select: none;
     cursor: pointer;
     margin: 0;
     text-align: left;
     position: relative;
}
.section ul li::before{
     content: '';
     position: absolute;
     height: 28px;
     width: 28px;
     border-radius: 50%;
     background-image: url(./images/unchecked.png);
     background-size: cover;
     background-position: center;
     top: 8px;
     left: -30px;
}
ul li.checked{
     text-decoration: line-through;
     color: rgb(56, 54, 54);
}
ul li.checked::before{
     background-image: url(./images/checked.png);
}
ul li span{
     position: absolute;
     right: 0;
     top: 10px;
     width: 40px;
     height: 40px;
     font-size: 20px;
     color: brown;
     line-height: 40px;
     text-align: center;
}
ul li span:hover{
     background-color: rgb(252, 123, 106);
     color: rgb(165, 68, 68);
     border-radius: 50%;
}